In [57]:
import glob
import pandas as pd

In [114]:
# read user files in data directory
files = []
for file in glob.glob("./data_import/usagers*.csv"):
    files.append(file)

# import user files
users = pd.DataFrame()

for i in range(0, len(files)):
    file = pd.read_csv(files[i], sep = ',')
    if i == 0:
        users = file
    else:
        users = pd.concat([users, file], axis = 0)

# export csv
users.to_csv("./data/users.csv", sep = ',', header = True, na_rep = 'n/a')
users.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2509620 entries, 0 to 197497
Data columns (total 16 columns):
 #   Column       Dtype
---  ------       -----
 0   Num_Acc      int64
 1   id_vehicule  object
 2   num_veh      object
 3   place        float64
 4   catu         int64
 5   grav         int64
 6   sexe         int64
 7   an_nais      float64
 8   trajet       float64
 9   secu1        float64
 10  secu2        float64
 11  secu3        float64
 12  locp         float64
 13  actp         object
 14  etatp        float64
 15  secu         float64
dtypes: float64(9), int64(4), object(3)
memory usage: 325.5+ MB

In [115]:
# read user files in data directory
files = []
for file in glob.glob("./data_import/caracter*.csv"):
    files.append(file)

# import user files
features = pd.DataFrame()

for i in range(0, len(files)):
    file = pd.read_csv(files[i], sep = ',', encoding='latin-1', na_values=['N/A', 'n/a',''])
    if i == 0:
        features = file
    else:
        features = pd.concat([features, file], axis = 0)

# export csv
features.to_csv("./data/features.csv", sep = ',', header = True, na_rep = 'n/a')
features.info()

<class 'pandas.core.frame.DataFrame'>
Index: 982060 entries, 0 to 58396
Data columns (total 16 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Num_Acc  982060 non-null  int64
 1   an       982060 non-null  int64
 2   mois     982060 non-null  int64
 3   jour     982060 non-null  int64
 4   hrmn     982060 non-null  object
 5   lum      982060 non-null  int64
 6   agg      982060 non-null  int64
 7   int      982060 non-null  int64
 8   atm      981987 non-null  float64
 9   col      982041 non-null  float64
 10  com      982058 non-null  object
 11  adr      850489 non-null  object
 12  gps      455722 non-null  object
 13  lat      553725 non-null  object
 14  long     553721 non-null  object
 15  dep      982060 non-null  object
dtypes: float64(2), int64(7), object(7)
memory usage: 127.4+ MB

In [116]:
# read user files in data directory
files = []
for file in glob.glob("./data_import/lieux*.csv"):
    files.append(file)

# import user files
places = pd.DataFrame()

for i in range(0, len(files)):
    file = pd.read_csv(files[i], sep = ',', encoding='latin-1', na_values=['N/A', 'n/a',''], low_memory=False)
    if i == 0:
        places = file
    else:
        places = pd.concat([features, file], axis = 0)

# export csv
places.to_csv("./data/places.csv", sep = ',', header = True, na_rep = 'N/A')
places.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1069086 entries, 0 to 87025
Data columns (total 33 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   Num_Acc  1069086 non-null  int64
 1   an       982060 non-null   float64
 2   mois     982060 non-null   float64
 3   jour     982060 non-null   float64
 4   hrmn     982060 non-null   object
 5   lum      982060 non-null   float64
 6   agg      982060 non-null   float64
 7   int      982060 non-null   float64
 8   atm      981987 non-null   float64
 9   col      982041 non-null   float64
 10  com      982058 non-null   object
 11  adr      850489 non-null   object
 12  gps      455722 non-null   object
 13  lat      553725 non-null   object
 14  long     553721 non-null   object
 15  dep      982060 non-null   object
 16  catr     87025 non-null    float64
 17  voie     79497 non-null    float64
 18  v1       86821 non-null    float64
 19  v2       2136 non-null     object
 20  circ     87026 non-null    float64
 21  nbv      87026 non-null    float64
 22  pr       47515 non-null    float64
 23  pr1      47515 non-null    float64
 24  vosp     87026 non-null    float64
 25  prof     87026 non-null    float64
 26  plan     87026 non-null    float64
 27  lartpc   87026 non-null    float64
 28  larrout  87026 non-null    float64
 29  surf     87026 non-null    float64
 30  infra    87026 non-null    float64
 31  situ     87026 non-null    float64
 32  env1     87026 non-null    float64
dtypes: float64(24), int64(1), object(8)
memory usage: 277.3+ MB

In [119]:
# read vehicle files in data directory
files = []
for file in glob.glob("./data_import/vehicules*.csv"):
    files.append(file)

# import user files
vehicles = pd.DataFrame()

for i in range(0, len(files)):
    file = pd.read_csv(files[i], sep = ',', encoding='latin-1', na_values=['N/A', 'n/a',''], low_memory=False)
    if i == 0:
        vehicles = file
    else:
        vehicles = pd.concat([vehicles, file], axis = 0)

# export csv
vehicles.to_csv("./data/vehicles.csv", sep = ',', header = True, na_rep = 'N/A')
vehicles.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1914902 entries, 0 to 131047
Data columns (total 11 columns):
 #   Column       Dtype
---  ------       -----
 0   Num_Acc      int64
 1   senc         float64
 2   catv         int64
 3   occutc       float64
 4   obs          float64
 5   obsm         float64
 6   choc         float64
 7   manv         float64
 8   num_veh      object
 9   id_vehicule  object
 10  motor        float64
dtypes: float64(7), int64(2), object(2)
memory usage: 175.3+ MB

In [118]:
vehicles.head()

,Num_Acc,senc,catv,occutc,obs,obsm,choc,manv,num_veh,id_vehicule,motor
0,200500000001,0.0,7,0.0,0.0,2.0,1.0,1.0,A01,NaN,NaN
1,200500000001,0.0,7,0.0,0.0,2.0,8.0,10.0,B02,NaN,NaN
2,200500000002,0.0,7,0.0,0.0,2.0,7.0,16.0,A01,NaN,NaN
3,200500000002,0.0,2,0.0,0.0,2.0,1.0,1.0,B02,NaN,NaN
4,200500000003,0.0,2,0.0,0.0,2.0,1.0,1.0,A01,NaN,NaN